img {
  width: 300px;
  text-align: center;
}
img.duck {
  width: 400px;
  text-align: left;
}
img.baking {
  text-align: left;
}
img.piano {
  text-align: right;
}
img.kite {
  width: 150px;
  text-align: right;
}
img.odyssey {
  width: 400px;
  float: left;
  padding: 3px 10px;
}
img.worldmap {
  height: 225px;
  width: 395px;
  float: left;
  padding: 3px 10px;
}
img.icecream {
  height: 230px;
  width: 400px;
  float: left;
  padding: 3px 5px;
}
img.zingzing {
  width: 400px;
  height: 250px;
}
body {
  background: lightpink;
  text-align: center;
  font-family: "Arial";
}
/* the body refers to only the main background and the image, the rest of the body is set in the declarations below, the rule sets below will override the body ruleset */
h1{
  font-family: "Comic Sans MS";
  color: darkmagenta;
}
h1.center {
  font-family: "Comic Sans MS";
  font-size: 50px;
}
h1.smaller {
  font-size: 40px;
}
.center {
  text-align: center;
  background: lightpink;
}

h2.center{
  background: lightpink;
  color: darkred;
  font-size: 30px;
  font-family: "Comic Sans MS";
}
.drawingtitle {
  color: darkblue;
  font-family: Arial Black;
}
p {
  text-align: left;
  font-family: "Arial";
  font-size: 18px
}
pre {
  font-size: 17px;
  text-align: left;
  font-family: "Comic Sans MS";
  color: blue;
}
p.left {
  text-align: left;
  font-family: "Arial";
  color: black;
  font-size: 18px;
}

h3 {
  text-align: left;
}
.pretty {
  text-align: left;
  font-family: Comic Sans MS;
  color: darkmagenta;
  padding: 0px 20px;
}
a {
  color: red;
}
a.homebutton {
  font-size: 20px;
  color: aqua;
  text-decoration: none;
}
button.homebutton {
  height: 40px;
  background-color: darksalmon;
}
button.homebutton:hover {
  background-color: lightpink;
}

#topnav {
  background-color: darksalmon;
  overflow: hidden;
}
#topnav a{
  font-family: "Comic Sans MS";
  text-decoration: none;
  font-size: 22px;
  float: left;
  display: block;
  color: aqua;
  text-align: center;
  padding: 12px 30px;
}
#topnav a:hover{
  background-color: lightpink;
}
